<div ng-controller="ShoppingListController">
	<br>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Pending Items</th>
			<th>Total Items</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="shoppingList in lists">
			<td>{{shoppingList.name}}</td>
			<td>{{shoppingList.date}}</td>
			<td>{{shoppingList.items.length}}</td>
			<td>{{shoppingList.items.length}}</td>
			<td><a href="#">Delete</a></td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Done</a></td>
		</tr>
	</table>

	<button go-click="create" class="btn btn-info">Create</button>

</div>